@using WebApplication.Models
@{
    ViewBag.Title = "Details";
}

<h2>@ViewBag.teretana.Naziv</h2>
<div>
    <p>Gde nas mozete naci: @ViewBag.teretana.Adresa.ToString()</p>
    <p>Kad smo osnovani: @ViewBag.teretana.GodinaOtvaranja</p>
    <p>Vlasnik: @ViewBag.teretana.Vlasnik.Ime</p>
    <p>Mesecna clanarina: @ViewBag.teretana.CenaMesec din</p>
    <p>Godisnja clanarina: @ViewBag.teretana.CenaGodina din</p>
    <p>Cena jednog treninga: @ViewBag.teretana.CenaTrening</p>
    <p>Cena grupnog treninga: @ViewBag.teretana.CenaGrupniTrening</p>
    <p>Cena personalnog treninga: @ViewBag.teretana.CenaPersonalniTrening</p>


    <table border="1">
        <tr>
            <th>Naziv</th>
            <th>Tip treninga</th>
            <th>Fitnes centar</th>
            <th>Trajanje treninga</th>
            <th>Datum</th>
            <th>Vreme</th>
            <th>Maksimalan broj posetilaca</th>
            <th>Broj prijavljenih korisnika na trening</th>
            <th>Prijavi se</th>

        </tr>
        @foreach (GrupniTrening item in ViewBag.grupniTreninzi)
        {
            <tr>
                <td align="center">@item.Naziv</td>
                <td align="center">@item.TipTreninga</td>
                <td align="center">@item.Fitnes_centar</td>
                <td align="center">@item.TrajanjeTreninga</td>
                <td align="center">@item.DatumTreninga</td>
                <td align="center">@item.VremeTreninga</td>
                <td align="center">@item.MaxPosetioci</td>
                <td align="center">@item.Posetioci.Count</td>
                <td align="center">
                    <form action="~/Home/PrijaviSeZaGrupniTrening">

                        <button name="naziv" value="@item.Naziv">Prijavi se</button>

                    </form>
                </td>
            </tr>
        }
    </table>
</div>

