@{
    ViewBag.Title = "Profil";
}

<div>
    <p>Korisnicko ime: @ViewBag.korisnik.KorisnickoIme</p>
    <p>Ime: @ViewBag.korisnik.Ime</p>
    <p>Prezime: @ViewBag.korisnik.Prezime</p>
    <p>Pol: @ViewBag.korisnik.Pol.ToString()</p>
    <p>Email: @ViewBag.korisnik.Email</p>
    <p>Datum rodjenja: @ViewBag.korisnik.DatumRodjenja</p>
    <p>Uloga: @ViewBag.korisnik.Uloga</p>
    <p>Lista grupnih treninga:</p>
    <p>Lista grupnih treninga(trener):</p>
    <p>Fitnes centar(trener):</p>
    <p>Fitnes centar(vlasnik):</p>
</div>

